<h1>Burgers</h1>

<div>
  <h2>Burgers to be Eaten</h2>
  <ul>
    {{#each burger}}
      {{#unless this.devoured}}
        <li>
          {{this.id}}
          {{this.burger_name}}

          <form action="/" method="POST">
            <input type="text" name="devoured">
            <button class="btn-primary" type="submit">Devour It!</button>
          </form>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
  <h2>Burgers Eaten</h2>
  <ul>
    {{#each burger}}
      {{#if this.devoured}}
        <li>
          {{this.id}}
          {{this.burger_name}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
<div>
  <h2>Add a Burger</h2>
  <form id="create-form" action="/" method="POST">

    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="burger_name">
    </div>

    <button type="submit">Add Burger</button>
  </form>
</div>